@import url('./navigation.css');

/*-------------------------------Form---------------------------------*/
#container{
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    height: 100%;
    width: 100vw;
}
#container .careerForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100vw;
}
#container .careerForm > div{
    margin-top: 10rem;
    margin-left: 10rem;    
    color: rgb(238, 209, 0);
}
#container .careerForm > form{
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;    
    
}
#container .careerForm > form > label{
    margin: 5px;
    font-size: 1.3rem;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;

}
#container .careerForm > form > input{
    width: 50rem;
    height: 2rem;
    margin: 5px;
    font-size: 1.3rem;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;

}
#container .careerForm > form > input::placeholder{
    color: #3B3A3A;
    font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
    font-size: 22px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: normal;
    text-align: left;    
    
    text-shadow: none;
}
#container .careerForm > form > select{
    width: 50rem;
    height: 2rem;
    margin: 5px;
    font-size: 1.3rem;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}
#container .careerForm > form > textarea{
    width: 50rem !important;
    height: 10rem;
    margin: 5px;
    font-size: 1.3rem;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

#container .careerForm > form > button{
    width: 8rem !important;
    height: 3rem;
    margin: 5px;
    border-radius: 1px;
    font-size: 1.3rem;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    background: rgb(59, 58, 58, 1);
    color: rgb(148, 148, 148, 1);
}
#container .careerForm > form > button:hover{
    color: rgb(59,58,58,1);
    background: rgb(238, 209, 0);
    cursor: pointer;  
}

footer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    height: 70px;
    padding: 0;
}
footer p{
    letter-spacing: 0.001rem;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}
