@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#navBar .menu-wrap{
    display: none;
}

#navBar{
    display: flex;
    position: fixed;
    top:0;
    background: rgb(27, 45, 60);

    justify-content: space-between;
    z-index: 2;
    padding: 1rem;
    height: 100px;
    width: 100%;
    padding: 0;
    align-items: center;
}
#navBar .logoBg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 209, 0);
    height: 100px;
    width: 336px;
}
#navBar .logoBg .logo{
    padding: 15px 44px;
    font-family: avenir-lt-w01_85-heavy1475544, sans-serif;
    font-size: 23px;
    font-stretch: 10%;
    letter-spacing: 2px;
    line-height: 23px;
}

#navBar .login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 209, 0);
    height: 100px;
    width: 100px;
}
#navBar .login a{
    color: rgb(27, 45, 60);
}
#navBar .navigation ul{
    display: flex;
    list-style: none;
    
}

#navBar .navigation ul li a{
    color: #fff;
    padding: 1.5rem;
    font-family: 'Roboto',sans-serif;
    
}

#navBar .navigation ul li a:hover{
    color: rgb(238, 209, 0);
}
