@import url('./navigation.css');
/*-----------------------------------NAVBAR ENDS-------------------------------------------*/

/*BackGround*/


#backGround img{
    width: 100vw;
    height: 100vh;
    position: fixed;
}
#backGround h1{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.78rem;
    color: #fff;
    font-size: 35px;
    font-weight: 10rem;
    font-family: 'Roboto', sans-serif;
}


/*Company Profile*/

#companyProfile{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100vw;
    background: white;
    display: flex;
    flex-direction: column;

}

#companyProfile .content .item1 img{
    height: 350px;
    width: 100%;
    
}
#companyProfile .content{
    display: flex;
    flex-direction: column;
    margin: 2rem; 
}
#companyProfile .content .item1{
    display: flex;
    flex-direction: column;
}
#companyProfile .content .item1 .info1{
    margin-top: 2rem;
}
#companyProfile .content .item1 .info1 p{
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 10rem;
    line-height: 2rem;
}
#companyProfile .content .item1 .info2 img{
    margin-top: 2rem;
}

#companyProfile .content .item1 .item{
    flex: 1;
}
#companyProfile .content .item2 p{
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 10rem;
    line-height: 2rem;
}
#nav{
    display: flex;
    flex-direction: row;
    position: relative;
    background: rgb(27, 45, 60);
    width: 100vw;
    height: 130px;
}
#nav .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 130px;
}
#nav .container .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
}
#nav .container .item h1{
    text-align: center;
    color: #fff !important;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    font-stretch: 100%;
    display: block;
}
#nav .container .item h1 a{
    color: #fff;
}
#nav .container .item:hover{
    background: rgb(238, 209, 0);   
    cursor: pointer;
}
footer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 70px;
    padding: 0;
}
footer P{
    letter-spacing: 0.001rem;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}